/* codigo para toda la pagina*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
/*codigo del body*/
body {
  margin: 0;
  background-color: #F2F3F4;
}
/*codigo del menu*/
header {
  background-color: #1A5276;
  color: white;
  padding: 10px;
  text-align: center;
}
header img {
  height: 50px;
}
.navbar,
.container-fluid {
  background-color: #1A5276;
  color: white;
  padding: 0;
  text-align: center;
}
.navbar-brand {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navbar-brand img {
  height: 50px;
}
.logo {
  justify-content: flex-start;
  width: 40%;
  display: flex;
}
.titulo {
  margin-left: 10px;
  display: flex;
  background-color: #1A5276;
}
/*jumbotron*/
section {
  height: 800px;
}
.carousel {
  /*ver la forma de que las fotos tengan el mismo tamaño*/
  width: 100%;
  height: 500px;
}
/*video de bienvenida*/
.welcome-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.texto_video {
  /*hola conoce nuestra piscina*/
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
.video {
  /*video que se muestra al media*/
  padding: 20px;
  max-width: 100%;
}
/*blog*/
.blog {
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #F9E79F;
  padding: 10px;
}
.noticias {
  display: flex;
  width: 100%px;
  height: 200px;
  background: white;
  text-align: center;
  position: relative;
}
.noticias h3 {
  /*titulo*/
  text-align: center;
  position: relative;
  top: 40%;
  width: 100%;
}
.img_news {
  /*imagenes de las noticias*/
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  background: #E5E7E9;
  height: 400px;
  width: 100%;
  align-items: center;
}
.img_news video {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  align-items: center;
}
/*videos de nuestras actividades*/
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #F9E79F;
}
.img_ext {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_ext img {
  width: 200px;
  height: 200px;
  margin: 50px;
}
.card-title {
  font-size: 20px;
}

/*talleres*/
.sectionCard
{
  padding: 20px;
  display: flex;

}

.taller {
  display: flex;
  gap: 10px;
}

.card-body
{
  padding: 10px;

}
.col-md-4
{
  
}

/*inscripciones online*/
.containerF
{
  padding: 40px;
  border-radius: 20px;
  border: 8px solid #fff;
  box-shadow: -5px -5px 15px rgba(255,255,255,0.1), 5px 5px 15px
  rgba(225,255,255,0.1),
  inset -5px -5px 15px rgba(255,255,255,0.1),
  inset 5px 5px 15px rgba(0,0,0,0.35);
}
.containe .form
{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.container .form h2
{
  color #fff;
  font-weight: 500;
  letter-spacing: 0.1em;
}

/*noticias*/



/*nosotros*/
.accordion {
  max-width: 800px;
}
.accordion .contentBx {
  position: relative;
  margin: 10px 20px;
}
.accordion .contentBx .label {
  position: relative;
  padding: 10px;
  background: #2694af;
  color: #fff;
  cursor: pointer;
}
.accordion .contentBx .label::before {
  content: '+';
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}
.accordion .contentBx.active .label::before {
  content: '-';
}
.accordion .contentBx .content {
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}
.accordion .contentBx.active .content {
  height: 150px;
  padding: 10px;
}

/*formulario contacto*/
.formulario {
  padding: 20px;
  height: 1150px;
}
.title {
  text-align: center;
  padding: 50px 0 20px;
  height: 150px;
}
.title h1 {
  margin: 0;
  padding: 0;
  color: #262626;
  text-transform: uppercase;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 36px;
}
.cont_form {
  width: 50%;
  height: 800px;
  background: #fff;
  margin: 0 auto;
  border: 2px solid #fff;
  box-shadow: 0 15px 40px rgba(0, 0, 0, .5);
}
.cont_form .left {
  float: left;
  width: 50%;
  height: 400px;
  background: url(/assests/images/leon\ LPD.jpg);
  background-size: cover;
  box-sizing: border-box;
}
.cont_form .rigth {
  float: right;
  width: 50%;
  height: 100px;
  box-sizing: border-box;
}
.formbox {
  width: 100%;
  padding: 80px 40px;
  box-sizing: border-box;
  height: 400px;
  background: #fff;
}
.formBox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #a6af13;
}
.formBox input {
  width: 50%;
  margin-bottom: 20px;
}
.formBox input[type="text"] {
  border: none;
  border-bottom: 2px solid #a6af13;
  outline: none;
  height: 40px;
}
.formBox input[type="text"]:focus {
  border-bottom: 2px solid #262626;
}
.formBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  color: #fff;
  background: #262626;
  cursor: pointer;
}
.formBox input[type="submit"]:hover {
  background: #1A5276;
}
.formBox a {
  color: #262626;
  font-size: 12px;
}

/* aca comienza el footer*/
.footer {
  padding: 20px;
  background-color: #1A5276;
  color: white;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.footer-links {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 25px;
}
.footer-links h4 {
  border-bottom: 2px solid #00c3ff;
  padding-bottom: 10px;
  margin-bottom: 25px;
  font-weight: 500;
  display: inline-block;
}
.footer-links ul li a {
  text-decoration: none;
  color: #E5E7E9;
  display: block;
  margin-bottom: 15px;
}
.footer-links ul li a:hover {
  color: #ffffff;
  padding-left: 6px;
}
.rrss-link a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all .5s ease;
}